<!doctype html>
<html lang="en" ng-app="CPSCDatabase">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Browse Jobs - UMW Job Database</title>
    
    <!-- Font -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Questrial">
    <!--Bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--My CSS-->
    <link href="css/style.css" rel="stylesheet">
    <!--Angular-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-route.js"></script>
    <!--Chrome Mobile Theme Color-->
    <meta name="theme-color" content="#686663">
    <!-- HTML5 shim and Respond.js for IE8 support -->
    <!--[if lt IE 9]>
        <script
        src="oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.mn.js">
        </script>
    <![endif]-->
</head>
<body ng-controller="controller">
    <div id="header">
        <div id="banner">
            <a id="logo" href="http://umw.edu">
                <img src="img/UMW-monogram-white.png" />
            </a><h1 id="title" style="text-align:left">CPSC Job Database</h1>
        </div>
        <div id="nav">
            <ul class="topnav" id="top-nav">
                <li><a href="index.html">Browse Jobs</a></li>
                <li><a href="post.html">Post a Job</a></li>
                <li><a href="volunteer.html">Volunteer</a></li>
                <li ng-hide="adminKey == undefined"><a href="admin.html">Admin Control Panel</a></li>
            </ul>
        </div>
    </div><!-- end #header -->
    <div id="main">
        <div id="search">
            <h2>Search</h2>
            <form ng-submit="searchJobsClicked()">
                <input type="text" ng-model="searchTerm"/>
                <label>
                    <input type="submit" ng-disabled="!searchTerm"/> 
                </label>
            </form>
            <h2>Announcements</h2>
            <div ng-repeat="announcement in announcements">
                <h3>{{ announcement.title }}</h3>
                <p>{{ announcement.description}}</p>
            </div>
        </div>
        <div id="jobs">
            <h2>Jobs</h2>
            <div ng-repeat="job in jobs">
                <h4>{{ job.jobTitle }} at {{ job.companyName }}</h4>
                <h5>Zip Code: {{ job.location }}</h5>
                <p>{{ job.description }}</p>
                <h5>Apply To:</h5>
                <h5 ng-show="job.email != null">{{ job.email }}</h5>
                <h5 ng-show="job.link != null"><a href="{{job.link}}" target="_blank">{{ job.link }}</a></h5>
                <br>
            </div>
            <p ng-if="jobs == undefined || jobs.length == 0">
                There are no available jobs at this time. Please check back later.
            </p>
        </div>
    </div><!-- end #main -->
    <div id="footer">
        <h5>
            <a ng-show="adminKey == undefined" href="admin.html">
                Admin Log In
            </a>
            <a ng-hide="adminKey == undefined" ng-click="logoutClicked()">
                Admin Log Out
            </a>
        </h5>
    </div><!-- end #footer -->

    <!-- jQuery  -->
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>