<!doctype html>
<html lang="en" ng-app="CPSCDatabase">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Post a Job - UMW Job Database</title>
    
    <!-- Font -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Questrial">
    <!--Bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--My CSS-->
    <link href="css/style.css" rel="stylesheet">
    <!--Angular-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-route.js"></script>
    <!--Chrome Mobile Theme Color-->
    <meta name="theme-color" content="#686663">
    <!-- HTML5 shim and Respond.js for IE8 support -->
    <!--[if lt IE 9]>
        <script
        src="oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.mn.js">
        </script>
    <![endif]-->
</head>
<body ng-controller="controller">
    <div id="header">
        <div id="banner">
            <a id="logo" href="http://umw.edu">
                <img src="img/UMW-monogram-white.png" />
            </a><h1 id="title" style="text-align:left">CPSC Job Database</h1>
        </div>
        <div id="nav">
            <ul class="topnav" id="top-nav">
                <li><a href="index.html">Browse Jobs</a></li>
                <li><a href="post.html">Post a Job</a></li>
                <li><a href="volunteer.html">Volunteer</a></li>
                <li ng-hide="adminKey == undefined"><a href="admin.html">Admin Control Panel</a></li>
            </ul>
        </div>
    </div><!-- end #header -->
    <div id="main">
        <div id=post>
            <h2>Post a Job</h2>
            <p>
                Whether you're an alum or a representative from a company 
                interested in new computer science talent, we'd love to 
                publicize your job to UMW computer science students.
            </p>
            <form ng-submit="postJobClicked()">
                <label>
                    Full Time
                    <input type=radio value="Full Time" ng-model="postJobInfo['jobType']"/> 
                    Internship
                    <input type=radio value="Internship" ng-model="postJobInfo['jobType']"/> 
                </label>
                <br>
                <label>
                    Job Title:
                    <input type="text" name="jobTitle" ng-model="postJobInfo['jobTitle']"/>
                </label>
                <br>
                <label>
                    Company Name:
                    <input type="text" name="companyName" ng-model="postJobInfo['companyName']"/>
                </label>
                <br>
                <label>
                    Zipcode:
                    <input type="text" name="location" maxlength=5 ng-model="postJobInfo['location']"/>
                </label>
                <br>
                <label>
                    How should students apply?
                </label>
                <br>
                <label>
                    Email
                    <input type=radio value="0" ng-model="postJobInfo['contactType']" /> 
                    External Link
                    <input type=radio value="1" ng-model="postJobInfo['contactType']" /> 
                </label>
                <br>
                <ng-show ng-show="postJobInfo['contactType'] == 0">
                    <label>
                        Email:
                        <input type="text" name="email" ng-model="postJobInfo['email']"/>
                    </label>
                    <br>
                </ng-show>
                <ng-show ng-show="postJobInfo['contactType'] == 1">
                    <label>
                        External Link:
                        <input type="text" name="link" ng-model="postJobInfo['link']"/>
                    </label>
                    <br>
                </ng-show>
                <label>
                    Please provide a brief description of the job and or skills 
                    that you're seeking. (Limit 300 characters)
                    <textarea name="description" maxlength="300" ng-model="postJobInfo['description']"></textarea>
                </label>
                <br>
                <label>
                    <input type="submit" ng-disabled="(!postJobInfo['jobTitle'] || !postJobInfo['companyName'] || !postJobInfo['description'] || !postJobInfo['location']) || (!postJobInfo['email'] && !postJobInfo['link'])"/>
                </label>
            </form> 
        </div>
        <div>
            {{postJobStatus}}
        </div> 
    </div><!-- end #main -->
    <div id="footer">
        <h5>
            <a ng-show="adminKey == undefined" href="admin.html">
                Admin Log In
            </a>
            <a ng-hide="adminKey == undefined" ng-click="logoutClicked()">
                Admin Log Out
            </a>
        </h5>
    </div><!-- end #footer -->

    <!-- jQuery  -->
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>