<!doctype html>
<html lang="en" ng-app="CPSCDatabase">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Volunteer! - UMW Job Database</title>
    
    <!-- Font -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Questrial">
    <!--Bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--My CSS-->
    <link href="css/style.css" rel="stylesheet">
    <!--Angular-->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-route.js"></script>
    <!--Chrome Mobile Theme Color-->
    <meta name="theme-color" content="#686663">
    <!-- HTML5 shim and Respond.js for IE8 support -->
    <!--[if lt IE 9]>
        <script
        src="oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.mn.js">
        </script>
    <![endif]-->
</head>
<body ng-controller="controller">
    <div id="header">
        <div id="banner">
            <a id="logo" href="http://umw.edu">
                <img src="img/UMW-monogram-white.png" />
            </a><h1 id="title" style="text-align:left">CPSC Job Database</h1>
        </div>
        <div id="nav">
            <ul class="topnav" id="top-nav">
                <li><a href="index.html">Browse Jobs</a></li>
                <li><a href="post.html">Post a Job</a></li>
                <li><a href="volunteer.html">Volunteer</a></li>
                <li ng-hide="adminKey == undefined"><a href="admin.html">Admin Control Panel</a></li>
            </ul>
        </div>
    </div><!-- end #header -->
    <div id="main">
        <div id="volunteer">
            <h2>Volunteer!</h2>
            <p>
                We love connecting theory with practice. If you're interested 
                in guest speaking on a technical or career related topic or 
                virtually mentoring students (through Skype or email), please 
                let us know.
            </p>
            <form ng-submit="postVolunteerClicked()">
                <label>
                    Name:
                    <input type="text" ng-model="postVolunteerInfo['name']"/>
                </label>
                <br>
                <label>
                    Email:
                    <input type="text" ng-model="postVolunteerInfo['email']"/>
                </label>
                <br>
                <label>
                    Describe how you'd like to be involved: (300 character limit)
                    <textarea name="aboutMe" maxlength="300" ng-model="postVolunteerInfo['description']"></textarea>
                </label>
                <br>
                <label>
                    <input type="submit" ng-disabled="!postVolunteerInfo['name'] || !postVolunteerInfo['email'] || !postVolunteerInfo['description']"/>
                </label>
            </form>
        </div>
        <div>
            {{postVolunteerStatus}}
        </div>
    </div><!-- end #main -->
    <div id="footer">
        <h5>
            <a ng-show="adminKey == undefined" href="admin.html">
                Admin Log In
            </a>
            <a ng-hide="adminKey == undefined" ng-click="logoutClicked()">
                Admin Log Out
            </a>
        </h5>
    </div><!-- end #footer -->

    <!-- jQuery  -->
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>